* {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  box-sizing: border-box;
}
html,
body,
h1 {
  margin: 0;
  padding: 0;
}
body {
  background: #0f0f0f;
  height: 100vh;
  color: white;
}
.bg-container {
  background-image: url("home-bg.jpg"), linear-gradient(#0c0608, #0f0f0f);
  background-blend-mode: overlay;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: white;

  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}
.navbar img {
  width: 100px;
}
.navbar-select {
  display: flex;
  gap: 1em;
}
.navbar-select button {
  border: none;
  padding: 0 2em !important;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 600;
}
.lang-select {
  background: #181617 !important;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.lang-select img {
  filter: invert();
  width: 15px;
}
.bg-secondary {
  background-color: #181617 !important;
  color: white;
  border: none !important;
}
.home {
  opacity: 1;
  backdrop-filter: blur(25px);
  min-height: 100vh;
  z-index: 1;
  position: absolute;
  width: 100%;
}
.home-header {
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  margin: 0 2.5em;
  box-shadow: -10px -10px 100px rgb(59, 45, 45);
  text-align: center;
  /* box-shadow: -10px -10px 100px rgb(59, 45, 45); */
  /* box-shadow: #0c0608 0px 50px 100px -20px, rgb(59, 45, 45) 0px 30px 60px -30px,
    rgb(59, 45, 45) 0px -2px 6px 0px inset; */
  border: 1px solid transparent;
  border-right: none;
  border-bottom: 0 !important;
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

.home-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url("home-bg.jpg"),
    linear-gradient(#0c0608 100%, rgba(15, 15, 15, 1) 10%);
  background-blend-mode: darken;
  filter: blur(9px);
  box-shadow: -10px -10px 100px #0c0608;
  /* box-shadow: -10px -10px 100px rgb(59, 45, 45); */
  border-radius: 100%;
  margin-bottom: -2.2em;
  rotate: 360deg;
  overflow: hidden;
}

.home-header-content {
  line-height: 2;
  border: none;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3em;
  border-right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgb(59, 45, 45));
  background-blend-mode: overlay;
}
/* .input-container {
  box-shadow: -10px -10px 100px rgb(59, 45, 45);
  width: fit-content;
  margin: 0 auto;
} */

.scrolling-background {
  height: calc(80vh - 150px);
  background-image: url("home-bg.jpg");
  background-size: 100% repeat;
  animation: scrollBackground 50s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.home-header-content h1 {
  font-weight: 900;
  font-size: calc(1vh + 2.8rem);
  margin-bottom: 0.2em;
}
.card-courosal {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 1em;
  flex-wrap: nowrap;
  padding: 0.5em 0.5em 1em 0.5em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-courosal img {
  height: 330px;
  border-radius: 15px;
}
.card-container,
.faq-card {
  border: green 1px solid;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: calc(1em + 1vw);
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 15px;
}
.card-container h1 {
  font-size: calc(0.67rem + 1vw);
}
.card-container div img {
  height: 50px;
}
.faq-card h3 {
  font-size: calc(0.67rem + 1vw);
}
.fa-plus {
  font-size: 1.35rem;
  font-weight: 100;
}
@media (min-width: 768px) {
  .card-container div {
    width: 100%;
    text-align: right;
  }
}
