* {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  box-sizing: border-box;
}
html,
body,
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: bold;
}
body {
  background-image: linear-gradient(to bottom, #150e10, #0f0f0f);
  min-height: 100vh;
  color: white;
}
.bg-container {
  background-image: url("assets/home-bg.jpg"), linear-gradient(#0c0608, #0f0f0f);
  background-blend-mode: overlay;
  min-height: 200vh;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;
}
.navbar img {
  width: 100px;
}
.navbar-select {
  display: flex;
  gap: 1em;
  font-size: 0.9rem;
}
.bg-secondary {
  background: #0f0f0f !important;
  color: white;
  border: none !important;
  outline: none !important;
  user-select: none !important;
  width: fit-content !important;
}

select {
  box-shadow: none; /* Removes box-shadow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.navbar-select button {
  border: none;
  padding: 0 1.5em !important;
  border-radius: 25px;
  font-weight: 600;
}
.lang-select {
  background: #0f0f0f;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  outline: none;
  gap: 0.5em;
  border: 1px solid #f4f4f4;
  border-width: 0.5px;
  width: fit-content !important;
}
.lang-select img {
  filter: invert();
  width: 15px;
}
.home {
  opacity: 1;
  backdrop-filter: blur(25px);
  min-height: 100vh;
  z-index: 1;
  position: absolute;
  width: 100%;
}
.home-header {
  border-width: 0.5px;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box;
  margin: 0 2.5em;
  box-shadow: -10px -10px 100px rgb(59, 45, 45);
  text-align: center;
  /* box-shadow: -10px -10px 100px rgb(59, 45, 45); */
  /* box-shadow: #0c0608 0px 50px 100px -20px, rgb(59, 45, 45) 0px 30px 60px -30px,
    rgb(59, 45, 45) 0px -2px 6px 0px inset; */
  border: 1px solid transparent;
  border-right: none;
  border-bottom: 0 !important;
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}
.home-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #241d1d;
  background-image: url("home-bg.jpg"),
    linear-gradient(#0c0608 100%, rgba(15, 15, 15, 1) 10%);
  background-blend-mode: contrast;

  box-shadow: -10px -10px 100px #0c0608;

  filter: blur(5px);
  border-radius: 100%;
  margin-bottom: -2.2em;
  rotate: 360deg;
  overflow: hidden;
}

.home-header-content {
  line-height: 2;
  border: none;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3em;
  border-right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgb(59, 45, 45));
  background-blend-mode: overlay;
}
.scrolling-background {
  height: calc(80vh - 150px);
  background-image: url("assets/home-bg.jpg");
  background-size: 100% repeat;
  animation: scrollBackground 50s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.home-header-content h1 {
  font-weight: 900;
  font-size: calc(1vh + 2.8rem);
  margin-bottom: 0.2em;
}

.input-container {
  /* padding: 0.3em 0.8em; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: -1em;
  z-index: 1;
}
input {
  border: 2px solid red;
  padding: 0.6em 0.8em;
  border-radius: 25px;
  border: 1px solid lightgray;
  outline: none;
  max-width: calc(25% + 100px);
  width: 100%;
  background: #0f0f0f;
  color: white;
  border-width: 0.5px;
  font-size: 1.2rem;
}
input::placeholder {
  font-size: 1rem;
  color: lightgray;
}
.input-container button,
button {
  background-color: #e50914;
  color: white;
  font-weight: 500;
  padding: 0.7em 2em;
  border-radius: 25px;
  border: none;
  font-size: 1.1rem;
}

.card-courosal {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 1em;
  flex-wrap: nowrap;
  padding: 0.5em 0.5em 1em 0.5em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card-courosal img {
  height: 250px;
  border-radius: 15px;
}

.card-container,
.faq-card {
  border: 2px solid #333333;
  width: 100%;
  padding: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: calc(1em + 1vw);
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 15px;
  background: #292929;
}
.card-container h1 {
  font-size: 1.2rem;
}
.card-container div img {
  height: 60px;
}
.faq-card h3 {
  font-size: 1.2rem;
}
.fa-plus {
  font-size: 1.35rem;
  font-weight: 100;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  width: 90%;
}
a {
  color: lightgray;
  font-size: 0.9rem;
}
.card-container:hover,
.faq-card:hover {
  background-color: #555555;
}
.faq-card:hover {
  cursor: pointer;
}
.logo-small {
  height: 30px !important;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .card-container div {
    width: 100%;
    text-align: right;
  }
  /* .card-container {
    flex-grow: 1;
  } */
  .card-container h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 767px) {
  .navbar-select button {
    background-color: white;
    color: black;
    padding: 0.3em 1em;
    font-size: 0.8rem;
    width: fit-content;
  }
  .scrolling-background {
    height: 40vh;
  }
  .home-header-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .home-header-content p {
    font-size: 0.8rem;
  }
  input {
    max-width: 100%;
    margin: 0.5em 1em;
  }
  .card-courosal img {
    height: 170px;
  }
  .card-container {
    padding: 1em;
  }
  .faq-card {
    padding: 1em;
    margin-bottom: 0;
  }
  .card-container h1,
  .faq-card h3 {
    font-size: 1rem;
  }
}
